{% block title %}Request an Animal{% endblock %}

{% block content %}
<h3>Wish we'd cover another animal?</h3>

<form method="POST" action="/request">
{{ form.hidden_tag() }}
<div> {{ form.name.label }} : {{ form.name() }} </div>
<div> {{ form.scale.label }} : {{ form.scale() }} </div>
<div> {{ form.power.label }} : {{ form.power() }} </div>
<div> {{ form.first.label }} : {{ form.first() }} </div>
<div> {{ form.reason.label }} : {{ form.reason(rows='5',cols='40') }} </div>
<div> {{ form.submit.label }} : {{ form.submit() }} </div>
</form>
{% endblock %}
