{% extends "base.html" %}

{% block title %}Cephalopods{% endblock %}

{% block source_url %}
http://hubpages.com/education/Octopus-Squid-and-Cuttlefish-10-Weird-Fun-Facts-About-Cephalopods
{% endblock %}

{% block fact_list %}
<ol>
  <li>Cephalopods have beaks and tongues</li> 
  <li>Cephalopods have poisonous spit</li>
  <li>Cephalopods are predators</li>
  <li>Cephalopods have the superhero trait of jet propulsion</li>
  <li>Cephalopods can break off their arms and regenerate new ones</li>
  <li>Cephalopods can grow as large as sixty feet and weigh more than half a ton</li>
</ol>
{% endblock %}

{% block img_link %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Octopus3.jpg/330px-Octopus3.jpg"
   alt="Swimming octopus, from wikimedia commons"/>
{% endblock %}
