<!DOCTYPE html>
<html>
<title>Facts about Animals</title>
<body>

<h1>Animals are amazing! Animals have superpowers! Read on!</h1>

<h1>Slugs</h1>
<p>Here are some
fun facts taken from 
<a href="http://www.softschools.com/facts/animals/slug_facts/1246/">another site</a>.</p>
<ol>
  <li>Slugs can be as long as 10 inches</li> 
  <li>Slugs can flatten themselves to 1/20th their height</li>
  <li>An acre of farmland contains 250,000 slugs</li>
  <li>Slugs can live as long as 6 years</li>
</ol>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Ambigolimax.jpg/330px-Ambigolimax.jpg"
   alt="A slug"/>
   
<h1>I mean, really? That's just wild!</h1>

<p>This is the html file.</p>
</body>
</html>