{% extends "base.html" %}

{% block title %}
Slugs
{% endblock %}

{% block source_url %}
http://www.softschools.com/facts/animals/slug_facts/1246/
{% endblock %}

{% block fact_list %}
<ol>
  <li>Slugs can be as long as 10 inches</li> 
  <li>Slugs can flatten themselves to 1/20th their height</li>
  <li>An acre of farmland contains 250,000 slugs</li>
  <li>Slugs can live as long as 6 years</li>
</ol>
{% endblock %}

{% block img_link %}
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Ambigolimax.jpg/330px-Ambigolimax.jpg"
   alt="A slug"/>
{% endblock %}
