<!DOCTYPE html>
<html>
<title>Facts about Animals</title>
<body>

<h1>Animals are amazing! Animals have superpowers! Read on!</h1>

<h1>Cephalopods</h1>
<p>Here are some
fun facts taken from 
<a href="http://hubpages.com/education/Octopus-Squid-and-Cuttlefish-10-Weird-Fun-Facts-About-Cephalopods">another site</a>.</p>
<ol>
  <li>Cephalopods have beaks and tongues</li> 
  <li>Cephalopods have poisonous spit</li>
  <li>Cephalopods are predators</li>
  <li>Cephalopods have the superhero trait of jet propulsion</li>
  <li>Cephalopods can break off their arms and regenerate new ones</li>
  <li>Cephalopods can grow as large as sixty feet and weigh more than half a ton</li>
</ol>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/Octopus3.jpg/330px-Octopus3.jpg"
   alt="Swimming octopus, from wikimedia commons"/>
   
<h1>I mean, really? That's just wild!</h1>

<p>This is the html file.</p>
</body>
</html>